
:root {
    --fade-in-time: 3s;
}

body
{
    font-family: monospace;
    padding: 0px;
    margin: 0px;
    height: 1080px;
    width: 1920vw;
    overflow: hidden;
}

button
{
    all: unset;
    background-color: white;
    outline: solid 1px black;
    border-radius: 0px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    user-select: none;

}

button:hover
{
    /* text-decoration: underline; */
    box-shadow: -3px 4px black;
}

button:active
{
    background-color: black;
    color: white;
}

.container
{
    display: block;
    position: relative;
    width: 1920px;
    height: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.text-container
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    /* max-height: 100px; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
    
}

.textbox
{
    display: block;
    position: relative;
    font-family:monospace;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    filter: opacity(0);
    transition: var(--fade-in-time);
}

.gradient-layer
{
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(white 50px, rgba(255, 255, 255, 0) 100px);
    z-index: 100;
    pointer-events: none;
}

.imagery {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    pointer-events: none;
}

.imagery img {
    display: none;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    /* position: fixed; */
    /* width: 100%; */
    height: 100%;
    left: 0;
    right: 0;
    filter: opacity(1);
    transition: filter 3s;
}

.menuicon
{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 16px;
    z-index: 500;
    /* background-color: lightgray; */
    color: lightgray;
    filter: opacity(0);
    pointer-events: none;
    transition: filter 2s;
}

.menuicon-loaded
{
    filter: opacity(1);
    pointer-events: all;
}

.menuicon i
{
    /* transform: rotate(0deg); */
    transition: transform 0.2s;
    font-size: 1.5em;
}

.controls-active
{
    transform: rotate(180deg);
    color: black;
}

.menuicon i:hover
{
    color: darkgray;
    cursor: pointer;
    transform: rotate(90deg);
}

i.controls-active:hover
{
    transform:rotate(180deg);
}

.menu
{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    z-index: 400;
    /* background-color: white; */
    transition: height 0.5s;
}

.menu i
{
    display: block;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: darkgray;
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.menu i:hover
{
    color: black;
    cursor: pointer;
    transform: rotate(10deg);

}

.menu-open
{
    padding: 20px;
    padding-top: 60px;
    height: 400px;
}

i.menu-active
{
    color: black;
}

.creditsmodal
{
    display: block;
    position: fixed;
    filter: opacity(0);
    pointer-events: none;
    transition: filter 0.4s;
    z-index: 2000;
}

.creditsmodal-open
{
    filter: opacity(1);
    pointer-events: all;
}

.modalbg
{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgb(60,60,60);
    background: radial-gradient(circle, rgba(60,60,60,1) 0%, rgba(129,129,129,1) 50%);
    filter: opacity(0.95);
    z-index: 700;
}

.modalbox
{
    display: block;
    position: fixed;
    width: 65vw;
    height: 65vh;
    top:15vh;
    left:15vw;
    border: solid black 1px;
    border-radius: 30px;
    z-index: 900;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
    box-shadow: black 0px 0px 1000px;
}

.modalbox .creditsclose
{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    z-index: 1000;
}

.creditsclose i
{
    color: darkgray;
}

.creditsclose:hover i
{
    color: black;
    cursor: pointer;
}

.preload
{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding-top: 45vh;
    text-align: center;
    filter: opacity(1);
    transition: filter 2s;

}
.preload-fade
{
    filter: opacity(0);
}

@media only screen and (max-width: 500px){
    .modalbox
    {
        width: 95vw;
        height: 95vh;
        left: 2.5vw;
        top: 2.5vh;
    }

    .textbox
    {
        width: 360px;
    }
}


